div {
    font-family: helvetica;
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
}

.win {
    border: none;
    font-size: 18px;
    color: green;
}

.low {
     border: none;
    font-size: 18px;
    color: blue;
}

.high {
     border: none;
    font-size: 18px;
    color: red;
}